@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,200;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,900;1,9..144,200;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700&family=Hanken+Grotesk:ital,wght@0,300;0,500;0,600;0,700;0,800;1,500&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@400;700&family=Outfit:wght@300;600;700&family=Poppins:ital,wght@1,100&family=Red+Hat+Display:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:ital,opsz,wght@0,9..144,200;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,900;1,9..144,200;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700&family=Hanken+Grotesk:ital,wght@0,300;0,500;0,600;0,700;0,800;1,500&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@400;700&family=Outfit:wght@300;600;700&family=Poppins:ital,wght@1,100&family=Red+Hat+Display:wght@500;900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
}
:root{
--Bright : hsl(31, 77%, 52%);
--Dark : hsl(184, 100%, 22%);
--Very : hsl(179, 100%, 13%);
--white : hsla(0, 0%, 100%, 0.75);
--light: hsl(0, 0%, 95%);

}

body{
    font-size: 15px;
    padding: 255px;
    padding-top: 15%;
   
}
  /*  width: 600px;
  /*  height: 400px;*/
.contenir{
    background-color:transparent;
    width: calc( 100%);
}
.cards{
    
    display: inline-grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: auto;
    height: 503px;    
    border-radius: 12px;


}


h3 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: xxx-large;
    font-variant: petite-caps;
    color: var(--light);
    padding: 16pt 0% 30pt;
}
p{
    color: var(--light);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.5em;
    padding: 2px;

}

.card-2,
.card-3,
.card-1{
    padding: 47px 47px;

}
.card-1{
    background-color: var(--Bright);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}
.card-2{

    background-color: var(--Dark);
}
.card-3{

    background-color: var(--Very);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

button{
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem 0;
    margin: 3rem 1rem 0% auto;
    width: 132px;
    border: 2px solid white;
    height: 45px;  
}
.button-1{
    color: var(--Bright);
    font-size: unset;
    font-family: 'Lexend Deca';
}
.button-2{
    color: var(--Dark);
    font-size: unset;
    font-family: 'Lexend Deca';
}

.button-3{
    color: var(--Very);
    font-size: unset;
    font-family: 'Lexend Deca';
}
button:hover {
    background-color: transparent;
    color: var(--white);
    pointer-events: visible;
    transition-duration: 0.4s;
    cursor: pointer;
}

@media only screen and (max-width: 375px){
    body {
        font-size: 15px;
        padding: 37px 0 0 0;
    }
    .cards{
        display: block;
        width: 327px;
        margin: 27px 23px 28px 27px;
    }
    
    

    .card-1{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius:0;    
    }

    .card-3{
    
        background-color: var(--Very);
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius:0;
    }
    button{
        margin: 2rem 1rem 1% auto;  
    }
}
